/*------------------------------------------------------------------
[Table of contents]

1. Config
2. Header
3. Main
4. Footer
-------------------------------------------------------------------*/
/*============================

        Config

============================*/
/* Base Config */
@font-face {
  font-family: Circular;
  src: url("../fonts/CircularStd-Book.woff");
  src: url("../fonts/CircularStd-Book.woff") format(Circular); }

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

a {
  color: #000000; }

body {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  font-smoothing: antialiased;
  font-smoothing: grayscale; }

html {
  tap-highlight-color: transparent;
  font-family: sans-serif;
  text-size-adjust: 100%; }

/*============================

        Header

============================*/
/* Header Wrapper */
header {
  height: 70px;
  background: #ffffff;
  z-index: 30;
  width: 99%;
  position: absolute; }

.header-wrapper {
  width: 100%;
  margin: 0;
  height: auto; }

/* Header Logo */
/*=============*/
/* Logo */
.logo {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: table-cell;
  height: 64px;
  position: relative;
  text-align: center;
  text-decoration: none;
  float: left; }
  .logo__image {
    height: 75px;
    margin-left: 1em;
    position: relative;
    top: -1em;
    z-index: 25;
    background: #ffffff; }
  .logo__arrow {
    position: relative;
    top: -3.32em;
    visibility: hidden;
    background: #ffffff;
    z-index: 30;
    height: 9px; }

/* Mobile View */
@media screen and (max-width: 1024px) {
  .logo__arrow {
    visibility: visible;
    transition: 0.5s ease-in-out; }
  .logo__arrow-open {
    height: 15px;
    transform: rotate(180deg);
    transition: 0.5s ease-in-out; } }

/* Header Navbar */
/*===============*/
/* Navbar */
@media screen and (min-width: 1024px) {
  .navigation {
    margin: 0;
    padding: 0;
    height: 64px;
    list-style-type: none;
    z-index: 10;
    transition: 0.5s ease-in-out;
    position: relative;
    float: right;
    display: table; }
  .nav {
    position: relative;
    opacity: 1;
    transition: 0.25s opacity ease-out;
    width: 100%; }
    .nav__item {
      position: relative;
      display: table-cell;
      padding: 12px 14px; }
    .nav__link {
      font-size: 13.5px;
      font-weight: 400;
      color: #484848;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      text-decoration: none;
      padding: 12px 0;
      line-height: 1.3em; } }

/* Mobile View */
@media screen and (max-width: 1023px) {
  .navigation {
    display: none; } }

/* Nav Link States */
.nav__link:hover {
  color: #008489; }

.nav__link:active {
  color: #008489; }

/*============================

        Main

============================*/
/* Main Wrapper */
.main-wrapper {
  width: 100%;
  margin: 0;
  overflow: auto;
  height: 1848px; }

/* Mobile View */
@media screen and (max-width: 1040px) {
  .main-wrapper {
    width: 100%;
    margin: 0;
    overflow: auto;
    height: 1848px; } }

/*========================

        Tagline

========================*/
.tagline {
  padding: 48px 24px 0px 24px;
  max-width: 1080px;
  background: transparent;
  text-rendering: optimizeLegibility;
  margin: 0; }
  .tagline__header {
    margin-top: 64px; }
    .tagline__header-text {
      font-size: 48px;
      padding: 8px 0;
      line-height: 56px;
      letter-spacing: 0.8px;
      color: #484848;
      font-weight: 200; }
    .tagline__header-title {
      font-weight: 600;
      color: #ff5a5f;
      letter-spacing: -0.5px;
      height: 100px; }

.main-margin {
  margin-top: 40px; }

/* Mobile View */
@media screen and (min-width: 744px) {
  .tagline {
    padding-top: 48px;
    position: relative;
    top: -1em; } }

@media screen and (max-width: 743px) {
  .tagline__header-text {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.6px; } }

/*========================

        Serchbar

========================*/
.search {
  background-color: transparent;
  padding: 0 24px;
  max-width: 1080px;
  /* Remove button for medium and large screens */ }
  .search__search-bar {
    display: block;
    padding: 32px 0 8px 0; }
    .search__search-bar::before {
      content: "";
      display: table; }
    .search__search-bar::after {
      content: "";
      display: table;
      clear: both; }
  .search__anywhere, .search__anytime, .search__guest {
    display: none; }
  .search__boxForm, .search__boxCalendar, .search__boxDropDownMenu {
    display: none; }
  .search__mobile-button {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #484848;
    border-collapse: collapse;
    border-style: solid;
    border-width: 0.5px;
    background: #ffffff;
    box-shadow: 0 1px 5px -2px;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
    table-layout: fixed;
    text-align: left;
    padding: 9px 12px;
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    appearance: button; }
    .search__mobile-button-icon {
      color: #767676;
      display: inline-block;
      vertical-align: middle; }
    .search__mobile-button-text {
      color: #484848;
      margin-left: 8px;
      vertical-align: middle; }
    .search__mobile-button-underline {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      height: 15px;
      background: #00A699;
      transition: opacity 0.3s;
      opacity: 0;
      z-index: 1; }

/* Medium size screens */
@media screen and (min-width: 744px) {
  .search {
    background-color: transparent;
    padding: 0 24px;
    max-width: 1080px;
    /* Remove mobile button for small screens */
    /* Button border-radius for medium screens */
    /* Button style for medium screens */ }
    .search__search-bar {
      display: table;
      padding: 32px 0 8px 0; }
      .search__search-bar::before {
        content: "";
        display: table; }
      .search__search-bar::after {
        content: "";
        display: table;
        clear: both; }
    .search__mobile-button {
      display: none; }
    .search__anywhere-button {
      border-radius: 4px 0 0 4px; }
    .search__anytime-button {
      border-right: 0;
      border-left: 0; }
    .search__guest-button {
      border-radius: 0 4px 4px 0; }
    .search__anywhere, .search__anytime, .search__guest {
      border-radius: 4px;
      display: table-cell;
      width: 360px; }
      .search__anywhere-button, .search__anytime-button, .search__guest-button {
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        font-size: 17px;
        font-weight: 100;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #484848;
        background: #ffffff;
        border-collapse: collapse;
        border-width: 0.5px;
        border-color: #DBDBDB;
        border-style: solid;
        box-shadow: 0;
        cursor: pointer;
        display: inline;
        table-layout: fixed;
        text-align: left;
        padding: 16px;
        position: relative;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        outline: none;
        appearance: button; }
        .search__anywhere-buttonIcon, .search__anytime-buttonIcon, .search__guest-buttonIcon {
          color: #767676;
          display: inline-block;
          font-weight: 100;
          font-size: 12px;
          vertical-align: middle; }
        .search__anywhere-buttonText, .search__anytime-buttonText, .search__guest-buttonText {
          color: #484848;
          margin-left: 12px;
          vertical-align: middle; } }

/* Large Screens */
@media screen and (min-width: 1025px) {
  .search {
    background-color: transparent;
    padding: 0 24px;
    max-width: 1080px;
    /* Remove button for small and medium screens */
    /* Button border-radius for medium screens */ }
    .search__mobile-button {
      display: none; }
    .search__anywhere, .search__anytime, .search__guest {
      display: none; }
    .search__search-bar {
      display: block;
      padding: 0; }
      .search__search-bar::before {
        content: "";
        display: table; }
      .search__search-bar::after {
        content: "";
        display: table;
        clear: both; }
    .search__boxForm {
      border-radius: 4px 0 0 4px; }
    .search__boxCalendar {
      border-left: 0;
      border-right: 0; }
    .search__boxDropDownMenu {
      border-radius: 0 4px 4px 0; }
    .search__boxForm, .search__boxCalendar, .search__boxDropDownMenu {
      display: table-cell;
      padding: 16px;
      width: 360px;
      border: 1px #DBDBDB;
      border-style: solid; }
      .search__boxFormLabelText, .search__boxCalendarLabelText, .search__boxDropDownMenuLabelText {
        font-size: 15px; }
      .search__boxFormButtonBox, .search__boxCalendarButtonBox, .search__boxDropDownMenuButtonBox {
        border: 0;
        background: transparent;
        cursor: pointer;
        padding-top: 8px; }
      .search__boxFormButtonText, .search__boxCalendarButtonText, .search__boxDropDownMenuButtonText {
        color: #767676;
        width: 100%;
        border: 0;
        font-size: 18px; }
      .search__boxFormButtonSearch, .search__boxCalendarButtonSearch, .search__boxDropDownMenuButtonSearch {
        line-height: 15px;
        color: #ffffff;
        padding: 0 18px;
        border: 0px;
        background: #FF5A5F;
        margin-left: 16px;
        margin-top: -19px;
        cursor: pointer;
        height: 48px;
        text-align: center;
        display: inline-block;
        float: right;
        border-radius: 4px; }
        .search__boxFormButtonSearchText, .search__boxCalendarButtonSearchText, .search__boxDropDownMenuButtonSearchText {
          font-size: 19px; } }

/* End of Min 1025px Screen */
/*=======================

        Submenu

========================*/
.submenu-wrapper {
  position: relative;
  overflow: auto;
  margin: 0;
  width: 94%;
  top: 3em;
  padding: 12px 16px; }

.submenu__link-active {
  border-color: #008489;
  color: #008489; }

.submenu__list {
  text-decoration: none;
  padding: 0;
  padding-bottom: 5px; }

.submenu__item {
  display: inline;
  padding-bottom: 5px; }

.submenu__link {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 11.5px;
  line-height: 35px;
  letter-spacing: 0.6px;
  color: #484848;
  background-color: transparent;
  border-width: 0;
  border-bottom: 2px solid transparent;
  bottom: -1px;
  cursor: pointer;
  display: inline-block;
  margin: 0 16px 0 0;
  text-decoration: none;
  font-weight: 700; }

.submenu-hr {
  position: relative;
  border-color: #e0e0e0;
  top: -1.35em; }

/* Large Screen View */
@media screen and (min-width: 1020) {
  .submenu-hr {
    position: relative;
    border-color: #e0e0e0;
    top: -1.5em; } }

/* Mobile View */
@media screen and (max-width: 742px) {
  .submenu-hr {
    top: -1.3em; } }

/* Submenu States */
.submenu__link:hover {
  color: #008489; }

.submenu__link:active {
  color: #008489;
  border-bottom: 2px solid #008489; }

/*=======================

        Article

=======================*/
.article-wrapper {
  position: relative;
  width: 95%;
  margin: 48px 0;
  height: auto;
  padding: 0 18px; }

.article__header {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #484848;
  font-weight: 600;
  margin: 48px 0 24px 0; }

.article__image-wrapper {
  position: relative; }

.article__slider-wrapper {
  margin: 0 -24px 0 -24px;
  overflow-y: hidden; }

.article__slider {
  transition: 0.5s;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 18px;
  margin-bottom: -30px;
  width: 50%;
  height: 50%;
  overflow: visible; }

.article__slider-image {
  padding: 0 6px 30px 6px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 50%; }

.slide-image {
  width: 100%;
  height: 100%; }

.article__image-title-span {
  font-weight: 700;
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  margin: 0px;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline; }

.article__image-title-inline {
  display: inline;
  font-weight: 300;
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  margin: 0px;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline; }

.article__star-rating {
  display: inline-block;
  color: #00A699;
  font-size: 14px;
  height: 12px;
  margin-right: 3px;
  width: 12px; }

.article__star-review {
  font-weight: normal;
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  margin: 0px;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  display: inline;
  position: relative;
  right: -5em; }

/*===========================

        Footer

============================*/
