/*------------------------------------------------------------------
[Table of contents]

1. Config
2. Header
-------------------------------------------------------------------*/
/*============================

        Config

============================*/
/* Base Config */
a {
  color: #000000; }

/*============================

        Header

============================*/
/* Header Logo */
/*=============*/
/* Logo */
.logo {
  float: left;
  top: -0.5em;
  position: absolute; }

.logo__image {
  height: 75px;
  margin-left: 1em; }

.logo__arrow {
  visibility: hidden; }

/* Mobile View */
@media screen and (max-width: 720px) {
  .logo {
    float: left;
    top: -0.5em; }
  .logo {
    background-color: #ffffff;
    width: 100%;
    float: none;
    position: absolute;
    z-index: 99; }
  .logo__arrow {
    position: absolute;
    transition: 0.5s ease-in-out;
    visibility: visible; }
  .fa-angle-down {
    top: 30px; }
  .logo__arrow-open {
    height: 15px;
    transform: rotate(180deg);
    transition: 0.5s ease-in-out; } }

/* Header Navbar */
/*===============*/
/* Navbar */
.navagation {
  float: right; }

.nav__order {
  float: right; }

.nav__item {
  display: inline-block;
  top: 2em;
  padding-left: 10px;
  margin-right: 1em; }

.nav__link {
  height: 64px;
  font-size: 14px;
  color: #484848;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: none;
  line-height: 1.3em; }

.nav__item-hide {
  display: none; }

.nav__item-show {
  visibility: visible; }

/* Mobile View */
@media screen and (max-width: 720px) {
  .nav__order {
    float: left;
    margin-left: -1.2em;
    width: 100%; }
  .nav__item {
    position: absolute;
    overflow: hidden;
    float: none;
    top: -100em;
    transition: 0.5s ease-in-out;
    display: inline; }
  .nav__item-open {
    height: auto;
    top: 5em;
    transition: 0.5s ease-in-out;
    position: relative;
    z-index: -1;
    padding: auto; }
  .nav__link {
    display: block;
    left: 0;
    font-size: 19px;
    color: #484848;
    font-weight: 300;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: auto; } }

/* Nav Link States */
.nav__link:hover {
  color: #008489; }

.nav__link:active {
  color: #008489; }
