#logo {
  max-width: 25%;
  height: auto;
  margin-top: -30px; }

.navbar-header {
  display: block; }

.navbar-header li {
  font-family: "Ubuntu", sans-serif, sans-serif;
  text-decoration: none;
  display: inline;
  padding: 10px; }

.navbar-header ul {
  display: inline-block;
  float: right;
  margin-bottom: 25px; }

.navbar-header li a {
  color: #000000;
  text-align: center; }

.navbar-header li a:hover {
  display: inline-block;
  color: #664fbc;
  font-family: "Ubuntu", sans-serif, sans-serif; }

#tag-line {
  font-family: "Ubuntu", sans-serif, sans-serif;
  text-align: left;
  margin-left: 15px;
  font-size: 35px;
  padding-top: 35px; }

#tag-line a {
  text-decoration: none;
  color: #664fbc;
  font-size: 35px; }

.mainsearch {
  margin-left: 15px;
  padding-top: 50px; }

#destination {
  width: 100%;
  height: 50px;
  border-radius: 2%; }

.navbar-body {
  padding-top: 40px;
  margin-left: -30px; }

.navbar-body ul {
  display: inline-block;
  font-size: 14px; }

.navbar-body li {
  display: inline;
  padding: 10px;
  border-bottom: 0.12em solid #664fbc; }

.navbar-body a {
  color: #664fbc;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  border-bottom: 5px;
  border-color: red; }

h2 {
  margin-left: 15px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif; }

.display img {
  width: 187.5px;
  height: 281.5px; }
