/* Logo */

.logo__image { height: 75px; margin-left: 1em; position: relative; top: -1em; }
.logo__image:after { clear: both; }
.logo__arrow { position: relative; top: -3em; visibility: hidden; }

/* Mobile View */

@media screen and (max-width: 1024px) {
  .logo__arrow { visibility: visible; }
  .logo__arrow-open { height: 15px; transform: rotate(180deg); transition: 0.5s ease-in-out; }

}
