/* Navbar */
.navigation {
  margin: 0;
  padding: 12px;
  height: 100%;
  list-style-type: none;
  z-index: 10;
  float: right;
  transition: 0.5s ease-in-out;
  position: absolute; }

.nav__item {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0 0 0 12px;
}
.nav__link {
  font-size: 14px;
  color: #484848;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: none;
  padding: 12px 0;
  line-height: 1.3em; }
.nav__item-hide { visibility: hidden; }
.nav__item-show { visibility: visible; }

/* Mobile View */

@media screen and (min-width: 320px) and (max-width: 720px) {
  .navigation { width: 92%; }
}

@media screen and (max-width: 1024px) {
  .nav__item-show { display: none;}
  .nav__item-hide { visibility: visible; }
  .nav__item {
    top: -100em;
    transition: 0.5s ease-in-out;
    background: #ffffff;
  }
  .navigation-open {
    width: 95%;
    position: absolute;
    background: #ffffff;
    transition: 0.5s ease-in-out;
  }
  .nav__item-open {
    width: 93%;
    top: 1em;
    transition: 0.5s ease-in-out;
    background: #ffffff;
  }
  .nav__link {
    display: block;
    font-size: 19px;
    font-weight: 300;
    height: 100%;
  }
}
