.search {
  background-color: transparent;
  padding: 0 24px;
  max-width: 1080px;

  &__search-bar {
    display: block;
    padding: 32px 0 8px 0;

    &::before { content: ""; display: table; }
    &::before {
      font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
      font-size: 19px;
      line-height: 24px;
      letter-spacing: undefined;
      padding-top: 0px;
      padding-bottom: 0px;
      color: #484848;
      border-radius: 4px;
      border: 1px solid #DBDBDB;
      box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08);
      padding: 0px;
      display: table;
      table-layout: fixed;
      width: 100%;
      position: relative; }

    &::after { content: ""; display: table; clear: both; }
    }
  &__mobile-button {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #484848;
    background: #ffffff;
    border: 1px solid #DBDBDB;
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.8);
    border-radius: 4px;
    cursor: pointer;
    display: table;
    table-layout: fixed;
    text-align: left;
    padding: 11px 12px;
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;

    &-icon {
      color: #767676;
      display: inline-block;
      vertical-align: middle; }

    &-text {
      color: #484848;
      margin-left: 8px;
      vertical-align: middle; }

    &-underline {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      height: 15px;
      background: #00A699;
      transition: opacity 0.3s;
      opacity: 0;
      z-index: 1;
     }
  }

}

@media sceen and (max-width: 1127px) {





}

