.search {
  background-color: transparent;
  padding: 0 24px;
  max-width: 1080px;


  &__search-bar {
    display: block;
    padding: 32px 0 8px 0;

    &::before { content: ""; display: table; }
    &::after { content: ""; display: table; clear: both; }

    }

  /* Remove button for medium and large screens */

  &__anywhere, &__anytime, &__guest { display: none; }
  &__boxForm, &__boxCalendar, &__boxDropDownMenu { display: none; }


  &__mobile-button {

    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #484848;
    border-collapse: collapse;
    border-style: solid;
    border-width: 0.5px;
    background: #ffffff;
    box-shadow: 0 1px 5px -2px;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
    table-layout: fixed;
    text-align: left;
    padding: 9px 12px;
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    appearance: button;

    &-icon {
      color: #767676;
      display: inline-block;
      vertical-align: middle; }

    &-text {
      color: #484848;
      margin-left: 8px;
      vertical-align: middle; }

    &-underline {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      height: 15px;
      background: #00A699;
      transition: opacity 0.3s;
      opacity: 0;
      z-index: 1; }
  }

}

/* Medium size screens */

@media screen and (min-width: 744px) {


  .search {
    background-color: transparent;
    padding: 0 24px;
    max-width: 1080px;

    &__search-bar {
      display: table;
      padding: 32px 0 8px 0;

      &::before { content: ""; display: table; }
      &::after { content: ""; display: table; clear: both; }

      }
    /* Remove mobile button for small screens */

    &__mobile-button { display: none; }

    /* Button border-radius for medium screens */

    &__anywhere-button { border-radius: 4px 0 0 4px; }
    &__anytime-button { border-right: 0; border-left: 0; }
    &__guest-button { border-radius: 0 4px 4px 0; }

    /* Button style for medium screens */

    &__anywhere, &__anytime, &__guest {

      border-radius: 4px;
      display: table-cell;
      width: 360px;

      &-button {
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
        font-size: 17px;
        font-weight: 100;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #484848;
        background: #ffffff;
        border-collapse: collapse;
        border-width: 0.5px;
        border-color: #DBDBDB;
        border-style: solid;
        box-shadow: 0;
        cursor: pointer;
        display: inline;
        table-layout: fixed;
        text-align: left;
        padding: 16px;
        position: relative;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        outline: none;
        appearance: button;

      &Icon {
        color: #767676;
        display: inline-block;
        font-weight: 100;
        font-size: 12px;
        vertical-align: middle; }

      &Text {
        color: #484848;
        margin-left: 12px;
        vertical-align: middle; }

      }
  }

  }

}
/* Large Screens */

@media screen and (min-width: 1025px) {
  .search {
    background-color: transparent;
    padding: 0 24px;
    max-width: 1080px;

    /* Remove button for small and medium screens */

    &__mobile-button { display: none; }
    &__anywhere, &__anytime, &__guest { display: none; }

    &__search-bar {
      display: block;
      padding: 0;

      &::before { content: ""; display: table; }
      &::after { content: ""; display: table; clear: both; }

      }

    /* Button border-radius for medium screens */

    &__boxForm { border-radius: 4px 0 0 4px; }
    &__boxCalendar { border-left: 0; border-right: 0; }
    &__boxDropDownMenu { border-radius: 0 4px 4px 0; }

    &__boxForm, &__boxCalendar, &__boxDropDownMenu {

      display: table-cell;
      padding: 16px;
      width: 360px;
      border: 1px #DBDBDB;
      border-style: solid;

      &Label {

        &Text { font-size: 15px; }
      }
      &Button {

        &Box {
          border: 0;
          background: transparent;
          cursor: pointer;
          padding-top: 8px; }

        &Text {
          color: #767676;
          width: 100%;
          border: 0;
          font-size: 18px; }

        &Search {

          line-height: 15px;
          color: #ffffff;
          padding: 0 18px;
          border: 0px;
          background: #FF5A5F;
          margin-left: 16px;
          margin-top: -19px;
          cursor: pointer;
          height: 48px;
          text-align: center;
          display: inline-block;
          float: right;
          border-radius: 4px;

          &Text {
            font-size: 19px; }
          }
      }
   }
 }
  } /* End of Min 1025px Screen */
