.tagline-wrapper { position: relative; width: 93%; overflow: hidden; margin: 0; padding: 0 24px; height: auto; }
.tagline__header { font-size: 48px; line-height: 56px; letter-spacing: 0.8px; color: #484848; font-weight: 200;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
.tagline__header-title { font-weight: 600; color: #ff5a5f; letter-spacing: 0.5px; height: 100px; }

/* Large Screen */

@media screen and (min-width: 1040px) {
  .tagline-wrapper { position: relative; width: 60%; overflow: hidden; margin: 0; padding: 0 24px; }
  .tagline__header { font-size: 48px; line-height: 56px; letter-spacing: 0.8px; color: #484848; font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  .tagline__header-title { font-weight: 600; color: #ff5a5f; letter-spacing: 0.5px; height: 100px; }
}

/* Mobile View */

@media screen and (max-width: 743px) {
  .tagline-wrapper { position: relative; width: 93.8%; overflow: hidden; margin: 0; padding: 0 24px; }
  .tagline__header { font-size: 23px; line-height: 30px; letter-spacing: 0.8px; color: #484848; font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  .tagline__header-title { font-weight: 600; color: #ff5a5f; letter-spacing: 0.5px; height: 100px; }
}
